<!DOCTYPE html>
<html>
	<head>
		<title>Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Django Girls Blog</a></h1>
		</div>
			{% for post in posts %}
		<div>
			<!-- post.title, post.text Мы обращаемся к различным полям нашей модели Post -->
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<!-- linebreaksbr прогоняет текст через фильтр для преобразования переносов строк в параграфы -->
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
			{% endfor %}
	</body>
</html>
